  <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="main-heading text-center">About Us</h1>
                <p class="small-font text-center">grow your buisness with us</p>
                <div class="row">
                    <div
                     class="col-md-6 col-12 hero-text order-md-1 order-1 d-flex justify-content-center align-items-start flex-column">
                     <h2>WE ARE THE PROFFESIONAL DEVELOPER</h2>
                     
                     <p>Lorem ipsum dolor sit amet,<span class="fw-bold"> consectetur adipiscing</span>  elit, sed do eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                         veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                         commodo consequat. Duis aute irure dolor in reprehenderit in</p>
                     <button class = "btn-style btn-primary">Read more</button>

                    </div>

                    <div class="col-md-6 col-12 hero-text order-md-0 order-0">
                        <figure>
                            <img src="images/about.svg" alt="herosection_image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>